<video controls autoplay src="/img/joy b&b banner.mp4" class="banner"></video>

<article class="about">
    <h1>Our diverse global community makes JoyB&B possible</h1>
<p>
    Building an inclusive platform for all hosts and guests is our greatest goal, and we’re always working to improve it.
At the heart of our mission is the idea that people are fundamentally good and every community is a place where you can belong. We sincerely believe that the discrimination is the greatest challenge we face as a company. It cuts to the core of who we are and the values that we stand for.
</p>
    <div class="separator"></div>
<h1>Our hosts and guests are leading the way</h1>
<p>We’re always working to build a better platform, and it’s the collective efforts of our hosts, guests and global community that make each JoyB&B experience possible. We believe in celebrating these stories and sharing the ways they inspire us to rethink what it means to belong as we work harder toward ending discrimination.</p>
</article>