<article class= "main_picture">
    <nav class="nav" id="nav">
        <ul class="menu" id="menu">
            <li class="menu_item"><a class="menu_link" href="#">Home</a></li>
            <li class="menu_item"><a class="menu_link" href="#">About Us</a></li>
            <li class="menu_item"><a class="menu_link" href="#">Find a Home</a></li>
            <li class="menu_item"><a class="menu_link" href="#">Sign up</a></li>
            <li class="menu_item"><a class="menu_link" href="#">Log in</a></li>
    </nav>
    <div class="booking_window">
        <h1>Book unique places to stay <br>
            in your favourite city.</h1>
        <div class="input">
            <label>Where</label>
            <select class="custom-select" name="" id="">
                <option value="1">Please, select a place</option>
                <option value="2">Calgary</option>
                <option value="3">Toronto</option>
                <option value="4">Vancouver</option>
                <option value="5">Ottawa</option>
            </select>
        </div>
        <div class="input">
               <label>Check In</label>
               <input type="date" class="form-control select-date">
           </div>
           <div class="input">
                <label>Check Out</label>
                <input type="date" class="form-control select-date">
            </div>
            <div class="input-beds">
                <label>Beds</label>
                <input type="number" class="form-control" value="1">
            </div>
        <div class="input-btn">
            <button type="button" class="btn btn-primary home">Search</button>
        </div>
    </div>
    <div class="description"><p>South Glenmore Park, Calgary</p></div>
</article>

<h2 class="content_tittle">We may be apart, but we'll get <br>through this together.</h2>

<section class="content">
    <div class="online_experience">
        <div class="place-picture">
            <img src="/img/online_experiences.png" alt="Online Experiences" class="place-img">
        </div>
        <h1>Online Experiences</h1>
        <p>Unique activities we can do together, led by a world of hosts.</p>
        <a href="#" class="content_button">Learn More</a> 
    </div>
    <div class="online_experience">
        <div class="place-picture">
            <img src="/img/monthly_stays.png" alt="Monthly Stays" class="place-img">
        </div>
        <h1>Monthly stays</h1>
        <p>Make JoyB&B your home, for stays of a month or longer.</p>
        <a href="#" class="content_button">Learn More</a> 
    </div>
    <div class="online_experience">
        <div class="place-picture">
            <img src="/img/front_line.png" alt="Front Line Workers" class="place-img">
        </div>
        <h1>Front line stays</h1>
        <p>Find or provide accommodations for COVID-19 responders.</p>
        <a href="#" class="content_button">Learn More</a> 
    </div>



</section>
