<article class="register">
    <form action="/register" method="POST" class="register-box">
        <h1>Welcome to JoyB&B!</h1>
        <div class="input">
            <label for="name">First Name</label>
            <input type="text" id="firstname" name="name" required>
        </div>
        <div class="input">
            <label for="name">Last Name</label>
            <input type="text" id="lastname" name="lastname" required>
        </div>
        <div class="input">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="input">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" class="register-btn">Register</button>
        <div class="register-account">
            <a href="/login">Have already an account?<br>     Login</a>
        </div>
    </form>
</article>